<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Twitter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header><h1>Maniteams</h1></header>
        <main>
           <div class="tweet" id="tweet">
                        <h3>{{this.tweet.user.username}}</h3>
                        <div class="tweet-content">
                            <p>
                              {{this.tweet.content}}
                            </p>
                            </div>
                            <form class="create-comment" action="/tweets/comments/{{this.tweet._id}}" method="post">
                                <input class='content' type="input-text" id="content" name="content" placeholder="Make a comment">
                                <input class="button" type="submit" id="create-comment-button" value="submit">
                                <input type="hidden" id="user" value={{user._id}} />
                                </form>
                            <span class="date">{{this.tweet.createdAt}}</span>
                            </div>
                            <div id="comments-container"  class="comments-container">
                                {{#each this.tweet.comments}}
                            <div class="comment" id="comment">
                               <a href="/users/{{this.user._id}}">{{this.user.username}}</a> 
                               <b>

                               </b>
                               <p>{{this.content}}</p>
                               <b></b>
                               <span>{{this.createdAt}}</span>
                            </div>
                            {{/each}}

                            </div>
        </main>
                <script src="/index.js"></script>
        </body>
        </html>